<h1>顧客一覧</h1>
<div class="main customers-index">
  <div class="container">
    <% @orders.each.with_index(1) do |order, i| %>
    <div class="customers-index-item">
  <table border="1">
  <tr>
    <th>id</th>
    <th>出荷状況</th>
    <th>品番</th>
  </tr>

  <tr>
    <td><%= i %></td>
    <td><%= order.delivery %></td>
    <td><%= order.number %></td>
  </tr>
  </table>

    <% end %>
  </div>
</div>
