<%= form_tag("/customers/#{@customer.id}/orders/create",{multipart: true}) do %>

<h1>スワッチ登録</h1>
<p>以下の顧客のPICKUPスワッチを登録します。</p>

<p>会社名：<%= @customer.company %></p><br>
<p>お客様名：<%= @customer.name %></p><br>
<p>担当者：<%= @customer.staff %></p><br>

<p>
  <select name="collection" required>
    <option value="vol.1">vol.1</option>
    <option value="vol.2">vol.2</option>
    <option value="vol.3">vol.3</option>
  </select>
</p>


<p>登録するコレクションを選んでください</p>

<p>スワッチ1</p>

<input name="number" placeholder="品番を入力してください"><br>

<input name="note" placeholder="備考"><br>

<!-- JS ここから貼り付け-->
<style>
.btn
{
    display: block;
    width: 96px;
    height: 32px;
    line-height: 32px;
    background-color: #3692ff;
    color: #fff;
    text-align: center;
}

.btn.active {
    background-color: #ccc;
}

.btn > span:last-of-type,
.btn.active > span:first-of-type
{
    display: none;
}

.btn.active > span:last-of-type {
    display: inline;
}
</style>

<script>
$(function(){
    $('.btn').on('click', function(event){
        event.preventDefault();
        $(this).toggleClass('active');
    });
});
</script>
<td><a class="btn" href="#">
    <span name="delivery" value="0" >未出荷</span>
    <span name="delivery" value="1" >発送済</span>
</a></td>
<!-- ここまで-->
</tr>
</table>
</div>


<p><input type="submit" value="登録"></p>

<% end %>
